
<!-- _pages/contact.md -->
<div class="row">
    
    
    <div class="row">
        <div class="col-sm-12">
            <div class="contact">
                <h2 class="year"> Contact <font color="var(--global-theme-color)"> Info</font></h2>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="item">
                <span class="icon"><i class="fas fa-phone"
                        style="color: var(--global-theme-color);"></i></span>
                <div class="cont">
                    <h6>Phone</h6>
                    <p>+1 (267) 466-7174 </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="item">
                <span class="icon"><i class="fas fa-envelope"
                        style="color: var(--global-theme-color);"></i></span>
                <div class="cont">
                    <h6>Email</h6>
                    <a
                        href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=mehtashaunak@vt.edu">
                        <span class="underline-contact-on-hover" >mehtashaunak@vt.edu</span>
                    </a>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <div class="col-sm-12">
        <div class="contact">
            <h2 class="year"> Social <font color="var(--global-theme-color)"> Media</font></h2>
        </div>
    </div>


    <!-- <div class="row"> -->
        <div class="col-sm-6">
            <div class="item">
                <span class="icon"><i class="fab fa-linkedin"
                        style="color: var(--global-theme-color);"></i></span>
                <div class="cont">
                    <h6>LinkedIn</h6>
                    <a href="https://www.linkedin.com/in/shaunak-mehta-b368a2164/">
                        <span class="underline-contact-on-hover">Connect</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="item">
                <span class="icon"><i class="fa fa-graduation-cap"
                        style="color: var(--global-theme-color);"></i></span>
                <div class="cont">
                    <h6>Google Scholar</h6>
                    <a href="https://scholar.google.com/citations?user=_w0rrk8AAAAJ&hl=en">
                        <span class="underline-contact-on-hover"> Citations</span>
                    </a>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <!-- <div class="row"> -->
        <div class="col-sm-6">
            <div class="item">
                <span class="icon"><i class="fab fa-github "
                        style="color: var(--global-theme-color);"></i></span>
                <div class="cont">
                    <h6>GitHub</h6>
                    <a href="https://github.com/mehtashaunak">
                        <span class="underline-contact-on-hover">View Profile</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="item">
                <span class="icon"><i class="fab fa-facebook-f"
                        style="color: var(--global-theme-color);"></i></span>
                <div class="cont">
                    <h6>Facebook</h6>
                    <a href="https://www.facebook.com/shaunak.mehta.54">
                        <span class="underline-contact-on-hover">View Profile</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
