---
layout: default
---

<!-- about.html -->
      <div class="post">
        

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_cicular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix" style="vertical-align: middle;">
            <header class="post-header">
              <h6>Hey There!</h6>
              <h1 class="post-title">
               I'm {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
              </h1>
              <p class="desc">{{ page.subtitle }}</p>
            </header>
            <p>
              <font style="font-size: 18px;">I am currently a Senior Researcher in the Spatial Robotics Research Center at </font style="font-size: 18px;"> <a href="https://global.fujitsu/en-us/local/technology/research"> <span style="font-size: 18px; color: var(--global-theme-color) ;">Fujitsu Research of America </span>. </a>
                I recieved my PhD from Department of Mechanical Engineering at Virginia Tech, where I was adviced by </font style="font-size: 18px;"> <a href="https://dylanlosey.com/"> <span style="font-size: 18px; color: var(--global-theme-color) ;">
                  Dr. Dylan Losey </span></a> and was a part of the
                  Collaborative Robotics Lab (Collab).
              
              <font style="font-size: 18px;">During my internship at </font> <a href="https://usa.honda-ri.com/"> <span style="font-size: 18px; color: var(--global-theme-color) ;">
                  Honda Research Institue </span></a>
              <font style="font-size: 18px;">, I had the opportunity to work with </font> <a href="https://www.linkedin.com/in/rana-soltani"> <span style="font-size: 18px; color: var(--global-theme-color) ;"> Rana Soltani Zarrin </span></a> 
              <font style="font-size: 18px;">in the domain of dexterous manipulation with multi-fingered grippers.</font>
          </p>
          <!-- <br> -->
          <p>
              <font style="font-size: 18px;">I completed my Bachelors in Mechanical Engineering with minor in Robotics and
                  Mobility Systems at Indian Institute of Technology (IIT) Jodhpur in 2021. During
                  my Bachelors, I was working under the supervision of </font> <a
                  href="http://surilshah.weebly.com/"><span style="font-size: 18px; color: var(--global-theme-color) ;">
                  Dr. Suril V. Shah</span>
              </a>. <font style="font-size: 18px;">I am grateful that I have had the opportunity to work with </font> <a style="font-size: 18px;"
                  href="http://www.iitp.ac.in/~athakur/index.html"><span style="color: var(--global-theme-color) ;">
                  Dr. Atul Thakur</span>
              </a>
              <font style="font-size: 18px;">during my internship at Mechatronics, Instrumentation and Control (MICL) Lab
                  at IIT Patna. </font>
          </p>
          <!-- <br> -->
          <p>
              <font style="font-size: 18px;"> My research interests include Robot Learning, Dexterous Manipulation and Human-Robot Interaction, and am forever looking for opportunities to expand and apply my knowledge in these ever-evolving fields. </font>
          </p>
          <!-- <br> -->
          <p>
              <font style="font-size: 18px;"> Besides research, I love painting, travelling, exploring new cultures and meeting new
                  people.<br></font>
          </p>
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            
            <div class="contact-icons">
            {% include social.html %}
            </div>
            <!-- <a href="assets/Resume/Shaunak_Resume_2022.pdf" class="butn butn-bg mt-20" style="margin: 100px;"><span style="vertical-align: middle;">Resume</span></a> -->

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>