---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <div class="row">
          <div class="col-xs-0 col-md-1">  </div>
          <div class="col-xs-5 col-md-3">
              <div class="img valign">
                  <!-- <div class="pattern"> -->
                      <img src="assets/img/sam_3.jpg" width=100% height="auto" alt="">
                  <!-- </div> -->
              </div>
          </div>
          <div class="col-xs-7 col-md-7">
              <div class="content section-padding valign">
                  <div class="caption">
                      <h6>Hey There!</h6>
                      <h1>I'm Shaunak Mehta</h1>
                      <p>
                          <font style="font-size: 18px;">I am a PhD student at the Department of Mechanical Engineering, Virginia Tech,
                              USA. Presently, I am working in the domain of Human-Robot Interaction at
                              Collaborative Robotics Lab (Collab) at Virginia Tech under the guidance of
                          </font style="font-size: 18px;"> <a href="https://dylanlosey.com/"> <span class="underline-on-hover" style="font-size: 18px;">
                              Dr. Dylan Losey </span>
                          </a>.
                      </p>
                      <br>
                      <p>
                          <font style="font-size: 15px;">I completed my Bachelors in Mechanical Engineering with minor in Robotics and
                              Mobility Systems at Indian Institute of Technology (IIT) Jodhpur in 2021. During
                              my Bachelors, I was working under the supervision of </font> <a
                              href="http://surilshah.weebly.com/"><span class="underline-on-hover" style="font-size: 18px;">
                              Dr. Suril V. Shah</span>
                          </a>. <font style="font-size: 18px;">I am grateful that I have had the opportunity to work with </font> <a style="font-size: 18px;"
                              href="http://www.iitp.ac.in/~athakur/index.html"><span class="underline-on-hover">
                              Dr. Atul Thakur</span>
                          </a>
                          <font style="font-size: 18px;">during my internship at Mechatronics, Instrumentation and Control (MICL) Lab
                              at IIT Patna. </font>
                      </p>
                      <br>
                      <p>
                          <font style="font-size: 18px;"> My research interests include Human-Robot Interaction and Perception based
                              Manipulation and Control, and am forever looking for opportunities to expand my
                              knowledge in these ever-evolving fields. </font>
                      </p>
                      <br>
                      <p>
                          <font style="font-size: 18px;"> Besides research, I love travelling, exploring new cultures and meeting new
                              people.<br></font>
                      </p>

                      <a href="RESUME/Shaunak_Resume_2022.pdf" class="butn butn-bg mt-20">
                          <span>Resume</span>
                      </a>

                      <div class="social">
                          <right>
                              &emsp;
              
                              <a href="https://www.linkedin.com/in/shaunak-mehta-b368a2164/"><span
                                      class="icon">
                                      <i class="fab fa-linkedin fa-2x" style="color:orange;"></i></span>
                              </a>
                              &emsp;&emsp;
                              <a href="https://scholar.google.com/citations?user=_w0rrk8AAAAJ&hl=en"><span
                                      class="icon">
                                      <i class="fa fa-graduation-cap fa-2x" style="color:orange;"></i></span>
                              </a>
                              &emsp;&emsp;
                              <a href="https://github.com/mehtashaunak"><span class="icon">
                                      <i class="fab fa-github fa-2x" style="color:orange;"></i></span>
                              </a>
                              &emsp;&emsp;
                              <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=mehtashaunak@vt.edu"><span class="icon">
                                      <i class="fa fa-envelope fa-2x" style="color:orange;"></i></span>
                              </a>
                              <!-- &emsp;&emsp;
                              <a href="https://www.facebook.com/shaunak.mehta.54"><span class="icon">
                                      <i class="fab fa-facebook-f fa-2x" style="color:orange;"></i></span>
                              </a> -->
                          </right>

                      </div>
                  </div>
              </div>
          </div>

      </div>
</div>
