---
layout: default
---

<!-- about.html -->
      <div class="container-fluid">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="col-xs-5 col-md-3">
            <div class="img valign"></div><!--float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">-->
            <!-- {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %} -->
            <!-- <div class="pattern"> -->
              <img src="img/sam_3.jpg" width=100% height="auto" alt="">
            <!-- </div> -->
            </div>
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <!-- <div class="clearfix"> -->
            <div class="col-xs-7 col-md-7">
            
              <p>
              <font style="font-size: 18px;">I am a PhD student at the Department of Mechanical Engineering, Virginia Tech,
                  USA. Presently, I am working in the domain of Human-Robot Interaction at
                  Collaborative Robotics Lab (Collab) at Virginia Tech under the guidance of
              </font style="font-size: 18px;"> <a href="https://dylanlosey.com/"> <span class="underline-on-hover" style="font-size: 18px;">
                  Dr. Dylan Losey </span>
              </a>.
              </p>
              <br>
              <p>
              <font style="font-size: 18px;">I completed my Bachelors in Mechanical Engineering with minor in Robotics and
                  Mobility Systems at Indian Institute of Technology (IIT) Jodhpur in 2021. During
                  my Bachelors, I was working under the supervision of </font> <a
                  href="http://surilshah.weebly.com/"><span class="underline-on-hover" style="font-size: 18px;">
                  Dr. Suril V. Shah</span>
              </a>. <font style="font-size: 18px;">I am grateful that I have had the opportunity to work with </font> <a style="font-size: 18px;"
                  href="http://www.iitp.ac.in/~athakur/index.html"><span class="underline-on-hover">
                  Dr. Atul Thakur</span>
              </a>
              <font style="font-size: 18px;">during my internship at Mechatronics, Instrumentation and Control (MICL) Lab
                  at IIT Patna. </font>
              </p>
              <br>
              <p>
              <font style="font-size: 18px;"> My research interests include Human-Robot Interaction and Perception based
                  Manipulation and Control, and am forever looking for opportunities to expand my
                  knowledge in these ever-evolving fields. </font>
              </p>
              <br>
              <p>
              <font style="font-size: 18px;"> Besides research, I love travelling, exploring new cultures and meeting new
                  people.<br></font>
              </p> 
            </div>
          <!-- </div> -->

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
